/* ==========================================
   Position List Section
   ========================================== */

.contentSection {
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.positionList {
  flex-wrap: wrap;
  justify-content: left;
}
