/* ==========================================
   Position List Section
   ========================================== */

.contentSection {
  gap: 1rem;
}

.positionList {
  flex-wrap: wrap;
  justify-content: left;
}
