/* ==========================================
   Preset Page Styles
   ========================================== */

.presetListSection {
  flex: 1;
  min-width: 20%;
}

.presetDetailSection {
  flex: 5;
}

.tierPanelSection {
  height: 100%;
  flex: 1;
}

.positionPanelSection {
  height: 100%;
  flex: 1;
}

.userGridSection {
  flex: 1;
}
