/* ==========================================
   Preset Page Styles
   ========================================== */

.presetListSection {
  flex: 1;
  min-width: 20%;
}

.presetDetailSection {
  flex: 4;
}

.tierPanelSection {
  flex-grow: 0;
}
