/* ==========================================
   Preset Page Styles
   ========================================== */

.presetListSection {
  flex: 1;
  min-width: 20%;
  min-height: 0;
}

.presetDetailSection {
  flex: 5;
  min-width: 0;
  min-height: 0;
}

.tierSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.positionSection {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.userGridSection {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
