/* ==========================================
   Tier List Section
   ========================================== */

.contentSection {
  gap: 1rem;
}

.tierList {
  flex-wrap: wrap;
  justify-content: left;
}
