.bar {
  width: 100%;
  height: 1px;
  border-radius: var(--radius-xs);
}

.bar--thin {
  height: 1px;
}

.bar--medium {
  height: 2px;
}

.bar--thick {
  height: 3px;
}

.bar--blue {
  background: var(--color-border-accent);
}

.bar--purple {
  background: rgba(156, 39, 176, 0.3);
}

.bar--red {
  background: rgba(244, 67, 54, 0.3);
}

.bar--green {
  background: rgba(76, 175, 80, 0.3);
}
