@import "./components/button.css";

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #333;
  margin: 1rem 0;
  font-size: 1.5rem;
}

/* Global Back Button */
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}
