.teamsSection {
  flex: 3;
}

.auctionInfoSection {
  flex: 2;
}

.queueSection {
  flex: 3;
}

.auctionInfoContentSection {
  flex: 1;
}

.auctionInfoTopSection {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.auctionInfoGridSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auctionInfoBottomSection input {
  flex: 1;
}

.auctionInfoBottomSection button {
  flex-shrink: 0;
  min-width: 120px;
}

.queueGrid {
  flex: 1;
}

.pageHeader {
  margin-top: var(--padding-lg);
  margin-left: var(--padding-lg);
  margin-right: var(--padding-lg);
}

@media (max-width: 1024px) {
  .auctionInfoGridSection {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .auctionInfoBottomSection {
    flex-direction: column;
  }

  .auctionInfoBottomSection button {
    width: 100%;
  }
}
