name: "Deploy to EC2"

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Stop services
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            lsof -t -i :8080 | xargs -r kill -9 || true
            lsof -t -i :8000 | xargs -r kill -9 || true

      - name: Cleanup Chrome
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            (pkill -9 -f chrome; exit 0)
            (pkill -9 -f chromedriver; exit 0)
            (pkill -9 -f Xvfb; exit 0)
            (rm -rf /tmp/.org.chromium.Chromium.*; exit 0)

      - name: Start Xvfb
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            export DISPLAY=:99
            Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &

      - name: Update git
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/trader
            git fetch origin master
            git reset --hard origin/master

      - name: Create envs
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cat << EOF > ~/trader/api/.env
            DISCORD_BOT_TOKEN=${{ secrets.DISCORD_TOKEN }}
            ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}
            APP_HOST=${{ vars.EC2_HOST }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            EOF

            cat << EOF > ~/trader/app/.env
            VITE_API_HOST=${{ vars.EC2_HOST }}
            EOF

      - name: Update npm
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          command_timeout: 10m
          script: |
            cd ~/trader/app
            npm install
            npm run build

      - name: Start app server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/trader/app
            nohup serve -s dist -l tcp://0.0.0.0:8080 > output.log 2>&1 &

      - name: Update conda
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          command_timeout: 10m
          script: |
            cd ~/trader/api
            /home/ec2-user/miniconda3/envs/trader/bin/conda env update -f environment.yml

      - name: Start api/ server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/trader/api
            nohup /home/ec2-user/miniconda3/envs/trader/bin/python -m uvicorn main:app --host 0.0.0.0 --port 8000 > output.log 2>&1 &
