name: "Deploy App & API to EC2"

# 1. 'master' 브랜치에 푸시(push)가 발생했을 때만 실행됩니다.
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22

          script: |
            APP_PID=$(lsof -t -i :8080 || true)
            if [ -n "$APP_PID" ]; then
              kill -9 $APP_PID
            fi

            API_PID=$(lsof -t -i :8000 || true)
            if [ -n "$API_PID" ]; then
              kill -9 $API_PID
            fi

            cd ~/trader
            git pull origin master

            cat << EOF > ~/trader/api/.env
            DISCORD_BOT_TOKEN=${{ secrets.DISCORD_TOKEN }}
            ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}
            APP_HOST=${{ vars.EC2_HOST }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            EOF

            cat << EOF > ~/trader/app/.env
            VITE_API_HOST=${{ vars.EC2_HOST }}
            EOF

            cd ~/trader/app
            npm install
            npm run build

            nohup serve -s dist -l 80 > output.log 2>&1 &

            cd ~/trader/api

            conda env update
            conda activate trader

            nohup uvicorn main:app --host 0.0.0.0 --port 8000 > output.log 2>&1 &
