name: "Deploy App & API to EC2"

# 1. 'master' 브랜치에 푸시(push)가 발생했을 때만 실행됩니다.
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          command_timeout: 30m

          script: |
            set -e

            APP_PID=$(lsof -t -i :8080 || true)
            [ -n "$APP_PID" ] && kill -9 $APP_PID || true

            API_PID=$(lsof -t -i :8000 || true)
            [ -n "$API_PID" ] && kill -9 $API_PID || true

            pkill -f chrome || true
            pkill -f chromedriver || true
            pkill -f Xvfb || true
            rm -rf /tmp/.org.chromium.Chromium.* || true

            export DISPLAY=:99
            nohup Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
            sleep 1

            cd ~/trader
            git fetch origin master
            git reset --hard origin/master

            cat > ~/trader/api/.env << EOF
            DISCORD_BOT_TOKEN=${{ secrets.DISCORD_TOKEN }}
            ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}
            APP_HOST=${{ vars.EC2_HOST }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            EOF

            cat > ~/trader/app/.env << EOF
            VITE_API_HOST=${{ vars.EC2_HOST }}
            EOF

            cd ~/trader/app
            npm install
            npm run build
            nohup serve -s dist -l tcp://0.0.0.0:8080 > ~/trader/app/output.log 2>&1 &

            cd ~/trader/api
            conda env update
            conda activate trader
            nohup uvicorn main:app --host 0.0.0.0 --port 8000 > ~/trader/api/output.log 2>&1 &
