name: "Deploy to EC2"

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.EC2_HOST }}
          username: ${{ vars.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          command_timeout: 30m
          script: |
            #!/bin/bash
            set -x

            lsof -t -i :8080 | xargs -r kill -9 || true
            lsof -t -i :8000 | xargs -r kill -9 || true

            pkill -f chrome || true
            pkill -f chromedriver || true
            pkill -f Xvfb || true
            rm -rf /tmp/.org.chromium.Chromium.* || true

            export DISPLAY=:99
            Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &

            cd ~/trader
            git fetch origin master
            git reset --hard origin/master

            cat << EOF > ~/trader/api/.env
            DISCORD_BOT_TOKEN=${{ secrets.DISCORD_TOKEN }}
            ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}
            APP_HOST=${{ vars.EC2_HOST }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            EOF

            cat << EOF > ~/trader/app/.env
            VITE_API_HOST=${{ vars.EC2_HOST }}
            EOF

            cd ~/trader/app
            npm install
            npm run build

            nohup serve -s dist -l tcp://0.0.0.0:8080 > output.log 2>&1 &

            cd ~/trader/api
            /home/ec2-user/miniconda3/envs/trader/bin/conda env update -f environment.yml
            nohup /home/ec2-user/miniconda3/envs/trader/bin/python -m uvicorn main:app --host 0.0.0.0 --port 8000 > output.log 2>&1 &
